@model Brand
@{
    ViewData["Title"] = "BrandUpdate";
    Layout = "~/Areas/User/Views/Shared/_AdminLayout.cshtml";
}

@if (ViewBag.BrandUpdateError != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.BrandUpdateError
    </div>
}
else
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Malzeme Tipi Listesi</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <form asp-area="User" asp-controller="Admin" asp-action="BrandUpdate" method="post">
                    <input type="hidden" name="ID" value="@Model.ID" />
                    <input type="text" name="BrandName" value="@Model.BrandName" placeholder="Malzeme Tipi Adı Giriniz" /><br /><br />
                    <input type="submit" value="Güncelle" class="btn btn-success" />
                </form>
                <div class="mt-3">
                    <a asp-area="User" asp-controller="Admin" asp-action="BrandList" class="btn btn-secondary">Listeye Geri Dön</a>
                </div>
            </div>
        </div>
    </div>

}