@model PersonelDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>Personel Giriş Sayfası</h1>

@Model.Name &ensp; @Model.Surname

<form asp-area="User" asp-controller="Personel" asp-action="PersonelDepartmentInventory" method="get">
  
</form>

