@model PersonelDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>Personel Giriş Sayfası</h1>

@Model.Name &ensp; @Model.Surname

<form asp-area="User" asp-controller="Personel" asp-action="StudentLesson" method="get">
    <select name="lessonId">
        <option selected>Ders Seç</option>
        <option value="1">Matematik</option>
        <option value="2">Türkçe</option>
    </select>
    <input type="submit" value="DersSeç" />
</form>

